.container {
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .btn-primary {
    background-color: lightgray;
    color: black;
    border-color: black;
  }

  .btn-success {
    background-color: lightgreen;
    color: black;
    border-color: black;
  }

  .btn-danger {
    background-color: lightcoral;
    color: black;
    border-color: black;
  }

  .btn-secondary {
    background-color: lightgoldenrodyellow;
    color: black;
    border-color: black;
  }
  
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  