@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.navbar-domizsnova {
  background-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.navbar-section {
  display: flex;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
  font-family: Raleway, sans-serif;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav li {
  margin-right: 15px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.logout-link {
  cursor: pointer;
}
