<nav class="navbar navbar-expand-lg navbar-light navbar-domizsnova">
    <div class="container">
      <div class="navbar-section">
        <a class="navbar-brand" href="admin">DomIzSnova</a>
      </div>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="admin/korisnici">Korisnici</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/poslovi">Poslovi</a>
          </li>
        </ul>
      </div>
      <div class="profile-section">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link logout-link" (click)="odjava()">Odjavi se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  