.container {
    margin-top: 20px;
  }
  
  /* Center the canvas horizontally */
  canvas {
    display: block;
    margin: 0 auto;
  }
  
  /* Adjust the padding for table cells */
  table.table td,
  table.table th {
    padding: 8px;
  }

.btn-primary {
  margin: 0 auto;
  display: block;

}