.container {
    margin-top: 20px;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    
  }
  
  table.table td,
  table.table th {
    padding: 8px;
  }

  .btn-primary {
    background-color: lightblue;
    color: black;
    border-color: black;
  }