<app-zaglavlje-klijent></app-zaglavlje-klijent>

<div class="container">
  
    <h3>Moji objekti</h3>
  
    <ng-container *ngIf="objekti.length > 0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tip</th>
              <th scope="col">Adresa</th>
              <th scope="col">Broj prostorija</th>
              <th scope="col">Kvadratura</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of objekti">
              <td>
                <input type="text" class="form-control short-input" [(ngModel)]="o.tip" [disabled]="!rezimIzmene">
              </td>
              <td>
                <input type="text" class="form-control long-input" [(ngModel)]="o.adresa" [disabled]="!rezimIzmene">
              </td>
              <td>
                <input type="number" class="form-control short-input" [(ngModel)]="o.brProstorija" [disabled]="!rezimIzmene">
              </td>
              <td>
                <input type="number" class="form-control short-input" [(ngModel)]="o.kvadratura" [disabled]="!rezimIzmene">
              </td>
              <td>
                <button class="btn btn-primary" (click)="prikazSkice(o)" *ngIf="!rezimIzmene">
                  Pogledaj skicu
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="obrisiObjekat(o)" *ngIf="!rezimIzmene">
                  Obrisi
                </button>
              </td>
              <td>
                <button class="btn btn-success" (click)="izmeniObjekat(o)" *ngIf="rezimIzmene">
                  Potvrdi izmene
                </button>
              </td>
              <td>
                <button class="btn btn-secondary" (click)="izmeniSkicu(o)" *ngIf="rezimIzmene">
                  Izmeni skicu
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="cbox1" [(ngModel)]="rezimIzmene" (click)="greska=''">
        <label class="form-check-label" for="cbox1">Rezim izmene</label>
      </div>
    </ng-container>
  
    <p *ngIf="objekti.length == 0">Trenutno nemate objekata</p>
  
    <button class="btn btn-primary" (click)="dodajObjekat()">Dodaj novi objekat</button>
    <div class="text-danger">{{ greska }}</div>
  </div>
  