<app-zaglavlje-klijent></app-zaglavlje-klijent>

<div class="container">
    <canvas #canvas class="border border-dark"
      width="1000" height="500"></canvas>
  
    <div *ngIf="sveZavrseno && status=='aktivan'" class="mt-3">
      <button (click)="zavrsiPosao()" class="btn btn-primary">Zavrsi posao i plati</button>
    </div>
  
    <div *ngIf="!sveZavrseno && !otkazan && status=='aktivan'" class="mt-3">
      <h3>Otkazivanje posla</h3>
      <textarea name="razlog" [(ngModel)]="razlog" class="form-control"></textarea>
      <button (click)="otkaziPosao()" class="btn btn-primary">Posalji zahtev za otkazivanjem posla</button>
    </div>
  </div>
  