<app-zaglavlje-pocetna></app-zaglavlje-pocetna>

<div class="container">
    <h3>Zaboravljena lozinka</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="mejl">Mejl adresa</label>
                <input type="text" class="form-control" id="mejl" name="mejl" [(ngModel)]="mejl">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="mejlPotvrda">Potvrda mejl adrese</label>
                <input type="text" class="form-control" id="mejlPotvrda" name="mejlPotvrda" [(ngModel)]="mejlPotvrda">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button class="btn btn-primary" (click)="resetuj()">Posalji</button>
            </div>
        </div>
    </div>
    <span class="text-danger">{{ greska }}</span>
</div>
