<canvas #canvas 
width="1000" height="500" 
style="border: 1px solid black;"
(mousedown)="pocetakPrevlacenja($event)"
(mousemove)="prevuci($event)"
(mouseup)="krajPrevlacenja()">
</canvas>
<table>
    <tr>
        <td>Prostorija 1</td>
        <td><input type="number" [(ngModel)]="sirine[0]" placeholder="Sirina"></td>
        <td><input type="number" [(ngModel)]="visine[0]" placeholder="Visina"></td>
    </tr>
    <tr *ngIf="brProstorija > 1">
        <td>Prostorija 2</td>
        <td><input type="number" [(ngModel)]="sirine[1]" placeholder="Sirina"></td>
        <td><input type="number" [(ngModel)]="visine[1]" placeholder="Visina"></td>
    </tr>
    <tr *ngIf="brProstorija > 2">
        <td>Prostorija 3</td>
        <td><input type="number" [(ngModel)]="sirine[2]" placeholder="Sirina"></td>
        <td><input type="number" [(ngModel)]="visine[2]" placeholder="Visina"></td>
    </tr>
    <tr>
        <td colspan="3">
            <button (click)="dodajProstorije()">Dodaj prostorije</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <button (click)="zavrsi()">Zavrsi uredjivanje i dodaj novi objekat</button>
        </td>
    </tr>
</table>