<canvas #canvas 
width="600" height="300" 
style="border: 1px solid black;"
(mousedown)="startDragging($event)"
(mousemove)="dragRectangle($event)"
(mouseup)="stopDragging()">
</canvas>
<table>
    <tr>
        <td>Dimenzije 1</td>
        <td><input type="number" [(ngModel)]="sirina1"></td>
        <td><input type="number" [(ngModel)]="visina1"></td>
        <!-- <td><button (click)="dodaj1()">Dodaj</button></td> -->
    </tr>
    <tr>
        <td>Dimenzije 2</td>
        <td><input type="number" [(ngModel)]="sirina2"></td>
        <td><input type="number" [(ngModel)]="visina2"></td>
        <!-- <td><button (click)="dodaj2()">Dodaj</button></td> -->
    </tr>
    <tr>
        <td>Dimenzije 3</td>
        <td><input type="number" [(ngModel)]="sirina3"></td>
        <td><input type="number" [(ngModel)]="visina3"></td>
        <!-- <td><button (click)="dodaj3()">Dodaj</button></td> -->
    </tr>
</table>