<nav class="navbar navbar-expand-lg navbar-light navbar-domizsnova">
    <div class="container">
      <div class="navbar-section">
        <a class="navbar-brand" href="agencija">DomIzSnova</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="agencija/profil">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="agencija/radnici">Radnici</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="agencija/poslovi">Poslovi</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="profile-section">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item profile-info">
            <img class="profile-image" *ngIf="slika !== ''" [src]="slika" alt="logoAgencija">
            <img class="profile-image" *ngIf="slika === ''" src="../../assets/korisnikLogo.png" alt="logoAgencija">
            <span class="username">{{korisnickoIme}}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link logout-link" (click)="odjava()">Odjavi se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  