.container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: lightblue;
    color: black;
    border-color: black;
  }
  
  .short-input {
    width: 100px;
  }