/* Styles for the table */
table {
    width: 100%;
  }
  
  th, td {
    padding: 10px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .btn-primary {
    margin-top: 5px;
    background-color: lightblue;
    color: black;
    border-color: black;
  }

  .btn-danger {
    margin-top: 5px;
    background-color: lightcoral;
    color: black;
    border-color: black;
  }

  h2, h4 {
    margin-top: 20px;
  }
  .text-danger {
    font-size: 14px;
    margin-top: 5px;
  }

  input[type="number"] {
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
  }
  