.container {
  margin-top: 20px;
}

.table {
  max-width: 500px;
}

.table td {
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control-file {
  display: block;
}

.btn-primary {
  background-color: lightgray;
  color: black;
  border-color: black;
}

.btn-success {
  background-color: lightgreen;
  color: black;
  border-color: black;
}

.btn-danger {
  background-color: lightcoral;
  color: black;
  border-color: black;
}

.btn-secondary {
  background-color: lightgoldenrodyellow;
  color: black;
  border-color: black;
}

