<app-zaglavlje-klijent *ngIf="korisnik.tip=='klijent'"></app-zaglavlje-klijent>
<app-zaglavlje-agencija *ngIf="korisnik.tip=='agencija'"></app-zaglavlje-agencija>

<div class="container">
    <h3>Promena lozinke</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="staraLozinka">Stara lozinka</label>
                <input type="password" class="form-control" id="staraLozinka" [(ngModel)]="staraLozinka">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="novaLozinka">Nova lozinka</label>
                <input type="password" class="form-control" id="novaLozinka" [(ngModel)]="novaLozinka">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="potvrdaNoveLozinke">Potvrda nove lozinke</label>
                <input type="password" class="form-control" id="potvrdaNoveLozinke" [(ngModel)]="potvrdaNoveLozinke">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button class="btn btn-primary" (click)="promeniLozinku()">Promeni lozinku</button>
            </div>
        </div>
    </div>
    <p class="text-danger">{{ greska }}</p>
</div>
