<h3>Admin</h3>
<button (click)="odjava()">Odjavi se</button>
<hr>
<h3>Korisnici</h3>
<table>
    <tr>
        <th>Korisnicko ime</th>
        <th>Tip</th>
        <th colspan="2">Akcija</th>
        <th colspan="2">Registracija</th>
    </tr>
    <tr *ngFor="let k of korisnici">
        <td>{{k.korisnickoIme}}</td>
        <td>{{k.tip}}</td>
        <td><button (click)="azuriraj(k.korisnickoIme, k.tip)">Azuriraj</button></td>
        <td><button (click)="obrisi(k.korisnickoIme)">Obrisi</button></td>
        <td *ngIf="k.status=='na cekanju'"><button (click)="prihvatiRegistraciju(k.korisnickoIme)">Prihvati zahtev</button></td>
        <td *ngIf="k.status=='na cekanju'"><button (click)="odbijRegistraciju(k.korisnickoIme)">Odbij zahtev</button></td>
        <td><button (click)="agencijaRadnici(k.korisnickoIme)" *ngIf="k.tip=='agencija' && k.status=='prihvacen'">Radnici agencije</button></td>
    </tr>
</table>
<hr>
<h3>Zahtevi za otkazivanjem</h3>
<table *ngIf="otkazivanja.length > 0">
    <tr>
        <th>Razlog otkazivanja</th>
        <th colspan="2">Akcija</th>
    </tr>
    <tr *ngFor="let o of otkazivanja">
        <td>{{o.razlog}}</td>
        <td><button (click)="prihvatiOtkazivanje(o.idPosao)">Prihvati</button></td>
        <td><button (click)="odbijOtkazivanje(o.idPosao)">Odbij</button></td>
    </tr>
</table>
<p *ngIf="otkazivanja.length == 0">Nema zahteva za otkazivanjem</p>
<hr>
<h3>Blokirane agencije</h3>
<table *ngIf="blokiraneAgencije.length > 0">
    <tr>
        <th>Agencija</th>
        <th>Vreme odblokiranja</th>
        <th>Broj pozitivnih ocena</th>
        <th>Akcija</th>
    </tr>
    <tr *ngFor="let a of blokiraneAgencije">
        <td>{{a.korisnickoIme}}</td>
        <td>{{a.datumOdblokiranja}}</td>
        <td>{{a.brojPozitivnihOcena}}</td>
        <td><button (click)="odblokirajAgenciju(a.korisnickoIme)">Odblokiraj</button></td>
    </tr>
</table>
<p *ngIf="blokiraneAgencije.length == 0">Nema blokiranih agencija</p>

