<app-zaglavlje-admin></app-zaglavlje-admin>

<div class="container">
  <h1>{{agencija.naziv}}</h1>
  <p>Kapacitet radnika: {{agencija.kapacitetRadnika}}</p>
  <p>Trenutni broj radnika: {{radnici.length}}</p>
  <hr>

  <h2>Radnici</h2>
  <table class="table" *ngIf="radnici.length > 0">
    <thead>
      <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Broj telefona</th>
        <th>Mejl</th>
        <th>Specijalizacija</th>
        <th colspan="2">Akcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of radnici">
        <td><input class="form-control" type="text" [(ngModel)]="r.ime" [disabled]="!rezimIzmene"></td>
        <td><input class="form-control" type="text" [(ngModel)]="r.prezime" [disabled]="!rezimIzmene"></td>
        <td><input class="form-control" type="text" [(ngModel)]="r.telefon" [disabled]="!rezimIzmene"></td>
        <td><input class="form-control" type="text" [(ngModel)]="r.mejl" [disabled]="!rezimIzmene"></td>
        <td><input class="form-control" type="text" [(ngModel)]="r.specijalizacija" [disabled]="!rezimIzmene"></td>
        <td><button class="btn btn-danger" (click)="obrisiRadnika(r)" *ngIf="!rezimIzmene">Obriši</button></td>
        <td><button class="btn btn-success" (click)="izmeniRadnika(r)" *ngIf="rezimIzmene">Potvrdi</button></td>
      </tr>
    </tbody>
  </table>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="cbox1" [(ngModel)]="rezimIzmene">
    <label class="form-check-label" for="cbox1">Režim izmene</label>
  </div>

  <p *ngIf="radnici.length == 0">Agencija trenutno nema radnika</p>
<hr>
  <div class="row">
    <div class="col-md-6" *ngIf="agencija.zahtev != 0">
      <h3>Zahtev za proširenjem broja radnih mesta</h3>
      <p>Zahtevano je još {{agencija.zahtev}} broja radnih mesta</p>
      <button class="btn btn-primary" (click)="odobriZahtev()">Odobri</button>
      <button class="btn btn-danger" (click)="odbijZahtev()">Odbij</button>
    </div>

    <div class="col-md-6">
      <div *ngIf="agencija.kapacitetRadnika > radnici.length">
        <h3>Dodaj radnika</h3>
        <table class="table">
          <tr>
            <td>Ime</td>
            <td><input class="form-control" type="text" [(ngModel)]="ime"></td>
          </tr>
          <tr>
            <td>Prezime</td>
            <td><input class="form-control" type="text" [(ngModel)]="prezime"></td>
          </tr>
          <tr>
            <td>Broj telefona</td>
            <td><input class="form-control" type="text" [(ngModel)]="telefon"></td>
          </tr>
          <tr>
            <td>Mejl</td>
            <td><input class="form-control" type="text" [(ngModel)]="mejl"></td>
          </tr>
          <tr>
            <td>Specijalizacija</td>
            <td><input class="form-control" type="text" [(ngModel)]="specijalizacija"></td>
          </tr>
          <tr>
            <td colspan="2"><button class="btn btn-primary" (click)="dodajRadnika()">Dodaj radnika</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <p class="text-danger">{{greska}}</p>
</div>
