.container {
    margin: 20px;
  }
  
  .agency-details {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    width: 50px;
  }
  
  .details {
    margin-left: 20px;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table td,
  table th {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  table th {
    background-color: #f2f2f2;
  }

  h1 {
    display: inline-block;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  .collaboration-section {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .text-danger {
    margin-top: 5px;
    font-size: 14px;
  }

  
  .reviews-container {
    margin-top: 20px;
  }
  
  .review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .review-author {
    font-weight: bold;
  }
  
  .review-rating {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .review-content {
    margin-top: 5px;
  }

  .btn-primary {
    margin-top: 10px;
    background-color: lightblue;
    color: black;
    border-color: black;
  }
  