<div class="telo">
    <img src="../../assets/logo.png" alt="logotip kompanije" class="logo">
    <h1>Prijava u DomIzSnova</h1>
    <div class="forma">
      <div class="red">
        <label for="korisnickoIme">Korisničko ime</label>
        <input type="text" name="korisnickoIme" id="korisnickoIme" [(ngModel)]="korisnickoIme">
      </div>
      <div class="red">
        <label for="lozinka">Lozinka</label>
        <input type="password" name="lozinka" id="lozinka" [(ngModel)]="lozinka">
      </div>
      <div class="zaboravljenaLozinka">
        <a [routerLink]="['/zaboravljenaLozinka']">Zaboravljena lozinka?</a>
      </div>
      <div class="red">
        <button (click)="prijava()">Prijava</button>
      </div>
    </div>

    <div class="registracija">
      Niste prijavljeni? <a [routerLink]="['/registracija']">Registruj se</a>
    </div>
  
    <div class="greska">{{ greska }}</div>
  </div>
  