.container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    width: 100%;
  }
  
  table thead th {
    font-weight: bold;
  }
  
  table td {
    padding: 8px;
  }
  
  
  .job-type {
    width: 200px;
  }

  .btn-primary {
    margin-bottom: 5px;
    background-color: lightblue;
    color: black;
    border-color: black;
  }

  .btn-danger {
    margin-bottom: 5px;
    background-color: lightcoral;
    color: black;
    border-color: black;
  }

  .btn-success {
    margin-bottom: 5px;
    background-color: lightgreen;
    color: black;
    border-color: black;
  }
  