<app-zaglavlje-klijent></app-zaglavlje-klijent>
<div class="container">
  <div class="row">
    <div class="col">

      <h2>Moji poslovi</h2>
      <div class="form-group">
        <select class="form-control job-type" id="prikaz" [(ngModel)]="prikaz" (change)="izmeniPrikaz()">
          <option value="sve">svi poslovi</option>
          <option value="zahtev">zahtevi za poslovima</option>
          <option value="aktivan">aktivni poslovi</option>
          <option value="zavrsen">zavrseni poslovi</option>
        </select>
      </div>

      <table class="table" *ngIf="izabraniPoslovi.length>0">
        <thead>
          <tr>
            <th>Agencija</th>
            <th>Objekat</th>
            <th>Status</th>
            <th>Vremenski period</th>
            <th *ngIf="prikaz=='zahtev'">Ponuda</th>
            <th *ngIf="prikaz=='zavrsen' || prikaz=='aktivan'">Cena</th>
            <th *ngIf="prikaz!='sve' && prikaz!='zavrsen'">Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of izabraniPoslovi">
            <td [ngStyle]="{'color': boja(p.status)}">{{p.agencija}}</td>
            <td [ngStyle]="{'color': boja(p.status)}">{{dohvatiObjekat(p.idObjekat)}}</td>
            <td [ngStyle]="{'color': boja(p.status)}">{{p.status}}</td>
            <td [ngStyle]="{'color': boja(p.status)}">{{vremenskiPeriod(p)}}</td>
            <td *ngIf="prikaz!='sve'">{{p.ponuda}}</td>
            <td *ngIf="p.status=='ponuda' && prikaz=='zahtev'"><button class="btn btn-primary" (click)="prihvatiPonudu(p)">Prihvati ponudu</button></td>
            <td *ngIf="p.status=='ponuda' && prikaz=='zahtev'"><button class="btn btn-danger" (click)="odbijPonudu(p)">Odbij ponudu</button></td>
            <td *ngIf="prikaz=='aktivan'"><button class="btn btn-primary" (click)="skica(p)">Prikazi napredak</button></td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="izabraniPoslovi.length==0">Trenutno nemate poslova u ovoj kategoriji</p>
    </div>
  </div>

  <div class="row" *ngIf="prikaz=='zavrsen' && izabraniPoslovi.length>0">
    <div class="col" *ngIf="izabraniPoslovi.length>recenzije.length">
      <h3>Ostavi recenziju</h3>
      <table class="table">
        <tbody>
          <tr>
            <td>Posao</td>
            <td>
              <select class="form-control" [(ngModel)]="idPosao">
                <ng-container *ngFor="let p of poslovi">
                  <option *ngIf="p.status=='zavrsen' && !postojiRecenzija(p._id)" [value]="p._id">{{p.agencija}} - {{dohvatiObjekat(p.idObjekat)}}</option>
                </ng-container>
              </select>
            </td>
          </tr>
          <tr>
            <td>Komentar</td>
            <td><textarea class="form-control" [(ngModel)]="komentar"></textarea></td>
          </tr>
          <tr>
            <td>Ocena</td>
            <td>
              <select class="form-control" [(ngModel)]="ocena">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2"><button class="btn btn-primary" (click)="ostaviRecenziju()">Ostavi recenziju</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" *ngIf="recenzije.length>0">
      <h3>Ostavljene recenzije</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Agencija</th>
            <th>Komentar</th>
            <th>Ocena</th>
            <th colspan="2">Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of recenzije">
            <td><input type="text" class="form-control" [(ngModel)]="r.agencija" [disabled]="true"></td>
            <td><input type="text" class="form-control" [(ngModel)]="r.komentar" [disabled]="!rezimIzmene"></td>
            <td>
              <select class="form-control" [(ngModel)]="r.ocena" [disabled]="!rezimIzmene">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </td>
            <td><button class="btn btn-danger" (click)="obrisiRecenziju(r)">Obrisi</button></td>
            <td><button class="btn btn-success" (click)="azurirajRecenziju(r)" *ngIf="rezimIzmene">Izmeni</button></td>
          </tr>
        </tbody>
      </table>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="rezimIzmene">
        <label class="form-check-label">Rezim izmene</label>
      </div>
    </div>
  </div>
</div>
