<h2>Moji poslovi</h2>

<table>
    <tr>
        <th>Agencija</th>
        <th>Objekat</th>
        <th>Status</th>
        <th>Vremenski period</th>
        <th>Akcija</th>
    </tr>
    <tr *ngFor="let p of poslovi">
        <td>{{p.agencija}}</td>
        <td>{{dohvatiObjekat(p.idObjekat)}}</td>
        <td>{{p.status}}</td>
        <td>{{p.vremenskiPeriod}}</td>
        <td *ngIf="p.status=='ponuda'">{{p.ponuda}}</td>
        <td *ngIf="p.status=='ponuda'"><button (click)="prihvatiPonudu(p)">Prihvati ponudu</button></td>
        <td *ngIf="p.status=='ponuda'"><button (click)="odbijPonudu(p)">Odbij ponudu</button></td>
        <td *ngIf="p.status=='aktivan'"><button (click)="skica(p)">Prikazi napredak</button></td>
    </tr>
</table>


