<app-zaglavlje-klijent></app-zaglavlje-klijent>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td>Korisničko ime</td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="korisnickoIme" disabled>
            </td>
          </tr>
          <tr>
            <td>Ime</td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="ime">
            </td>
          </tr>
          <tr>
            <td>Prezime</td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="prezime">
            </td>
          </tr>
          <tr>
            <td>Kontakt telefon</td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="telefon">
            </td>
          </tr>
          <tr>
            <td>Mejl</td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="mejl">
            </td>
          </tr>
          <tr>
            <td>Profilna slika</td>
            <td>
              <input class="form-control-file" type="file" (change)="otpremanjeFajla($event)">
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-primary" [routerLink]="['/promena-lozinke']">Promeni lozinku</a>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-success" (click)="azuriraj()">Ažuriraj</button>
            </td>
            <td>
              <button class="btn btn-secondary" (click)="odustani()">Odustani</button>
            </td>
          </tr>
        </table>
        <p>{{ greska }}</p>
      </div>
    </div>
  </div>
  
